@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end px-3">
                    <a class="btn btn-outline-danger me-md-2" href="/logout">Logout</a>
                </div>
            </Authorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
