name: Deploy Blazor WASM to Azure Static Web Apps

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [ main ]

jobs:
  build_and_deploy:
    if: github.event_name != 'pull_request' || github.event.action != 'closed'
    runs-on: windows-latest   # ubuntu-latest also works great

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.415'

      - name: Restore
        run: dotnet restore ZaposliMeFrontend/ZaposliMe.Frontend.csproj

      - name: Publish (Blazor WASM)
        run: |
          dotnet publish ZaposliMeFrontend/ZaposliMe.Frontend.csproj -c Release -o published /p:InvariantGlobalization=false /p:BlazorWebAssemblyLoadAllGlobalizationData=true

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: upload
          app_location: published/wwwroot
          skip_app_build: true
          production_branch: main

  close_pr_environment:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Close SWA PR environment
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: close
